.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer__text {
    line-height: 30px;
    color: #ffffffbb;
}

.footer__quick-links ul li {
    background: transparent !important;
}

.footer__quick-links ul li a {
    color: #ffffffbb;
}

.quick_links-title {
    margin-top: 30px;
    color: #fff;
    font-size: 1.2rem;
}

.footer__contact li span,
.footer__contact li p {
    color: #ffffffbb;
}

.footer__contact li span {
    font-size: 1.2rem;
}

.footer__contact li p {
    font-size: 0.9rem;
}

.footer__copyright {
    color: #ffffffbb;
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}